<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>image_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,676},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,543},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{130,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,137}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>image_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,826},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>image_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,809},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,676},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{132,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>image_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{130,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,137}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>image_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>image_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,137}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>image_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,138},{132,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>image_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,140},{130,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,136}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>image_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
            <key>image_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,557},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>image_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,135},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,271},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,410},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,543},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,277},{133,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,131}}</string>
                <key>sourceSize</key>
                <string>{133,131}</string>
            </dict>
            <key>image_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,415},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,132}</string>
            </dict>
            <key>image_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,815},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{130,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{130,134}</string>
            </dict>
            <key>image_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,268},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>image_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,140},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>image_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,404},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>image_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,692},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,132}</string>
            </dict>
            <key>image_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{133,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,134}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>image_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,278},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>image_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,682},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,410},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,549},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>image_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{130,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{130,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c076e226e5f38befe68a6ace06edac6c$</string>
            <key>textureFileName</key>
            <string>image.png</string>
        </dict>
    </dict>
</plist>
